
.search-size {
    height:25px;
    width:100px;
    padding: 1px 3px 1px 3px;
    border:1px solid #ccc;
}

.search-date-size {
    height:25px;
    width:140px;
    padding: 1px 3px 1px 3px;
}

.label-size {
    width: 100px;
    display:inline-block;
    margin: 2px 4px 2px 4px;
    text-align: center;
}

.input-size {
    width: 150px;
    margin: 2px 4px 2px 4px;
}

.label-color {
    color: red;
}

.padding01 {
    padding: 5px 0 5px 0;
}

.padding02 {
    padding: 5px 5px 5px 5px;
}

.padding03 {
    padding: 0 5px 0 5px;
}

.margin01 {
    margin-top: 10px;
    margin-left: 20px
}

.input-size-big {
    width: 400px;
    margin: 2px 4px 2px 4px;
}

.input-textarea-size {
    width: 400px;
    height: 200px;
    margin: 2px 4px 2px 4px;
}



body .out-class .layui-layer-title {
    background: #009688;
    color: #fff;
    border: none;
}

body .out-class .layui-layer-btn {
    border-top: 1px solid #E9E7E7
}

body .out-class .layui-layer-btn a {
    background: #fff;
}

body .out-class .layui-layer-btn .layui-layer-btn1 {
    background: #fff;
}

