<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>部门选择</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>
<div id="depart-tree"></div>

<form class="layui-form layui-form-pane padding02" action="" method="post" onsubmit="return false;" id="form01">
	<div class="layui-form-item">
		<label class="layui-form-label layui-bg-cyan">选中部门</label>
		<div class="layui-input-inline">
			<input type="hidden" name="departId" id="departId" class="layui-input">
			<input type="text" name="departName" id="departNme" required lay-verify="required" autocomplete="off"
				   class="layui-input" readonly="readonly">
		</div>
	</div>

	<hr class="layui-bg-green">
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm tree-confirm" >确定</button>
		</div>
	</div>

</form>



</body>

<script>
	layui.use(['form','layer','tree'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var tree = layui.tree;
		var $ = layui.jquery;

		layer.ready(function(){
			ajaxLoadTree();
		});

		function ajaxLoadTree() {
			$.ajax({
				url:'/depart/departAjaxLoadTree',
				type:'post',
				data:{},
				success:function(result){
					if(result.state == 1){
						laodTree(result.data);
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		}

		function laodTree(data){
			tree.render({
				elem: '#depart-tree'
				,id: 'mtId' //定义索引
				,onlyIconControl:true
				,accordion:false
				,data:data
				,click: function(obj){
					//console.log(obj.data); //得到当前点击的节点数据
					$('#departId').val(obj.data.id);
					$('#departNme').val(obj.data.title);
				}
			});
		}

		//确定
		$('.tree-confirm').on('click', function () {
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
			$('#form01 input[name = "departId"]',window.parent.document).val($('#departId').val());
			$('#form01 input[name = "departName"]',window.parent.document).val($('#departNme').val());
		});



	});

</script>
<style>

</style>
</html>