<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>员工信息</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline">
            <input type="text" name="code" placeholder="工号" autocomplete="off" class="layui-input" id="code">
        </div>
        <div class="search-input-inline">
            <input type="text" name="name" placeholder="姓名" autocomplete="off" class="layui-input" id="name">
        </div>
        <div class="search-input-inline">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger table-dels"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button type="button" class="layui-btn layui-btn-sm table-sync"><i class="layui-icon layui-icon-download-circle"></i>同步</button>
            <button type="button" class="layui-btn layui-btn-sm table-gens"><i class="layui-icon layui-icon-addition"></i>生成用户</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>


<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>修改</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script>

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;

        table.render({
            elem: '#tableList'
            ,url: '/employee/employeeTableData' //数据接口
            ,title: '员工表'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-45'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'code', title: '工号', width: 120}
                    , {field: 'name', title: '姓名', width: 120}
                    , {field: 'sex', title: '性别', width: 120}
                    , {field: 'officeTele', title: '办公电话', width: 120}
                    , {field: 'mobile', title: '移动电话', width: 120}
                    , {field: 'email', title: '电子邮箱', width: 120}
                    , {field: 'departName', title: '所属部门', width: 120}
                    , {field: '', title: '功能操作', width: 240, toolbar: '#bar'}
                ]
            ]
            ,where:{
                code : $("#code").val(),
                name : $("#name").val()
            }
            ,done: function(res, curr, count){
                $("[data-field='sex']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text('男');
                    } else if ($(this).text() == '1') {
                        $(this).text('女');
                    }
                });
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            $("#code").val("");
            $("#name").val("");
            table.reload('tableList',{
                url:'/employee/employeeTableData',
                page: {curr:1},
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/employee/employeeTableData',
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //同步员工
        $('.table-sync').on('click', function () {
            var loading = layer.msg('正在同步...', {icon: 16, shade: 0.3, time:0});
            $.ajax({
                url:'/employee/syncEmployee',
                type:'post',
                data:{},
                beforeSend:function () {},
                success:function(result){
                    if(result.state == 1){
                        layer.close(loading);
                        refreshTab();
                    }else{
                        layer.close(loading);
                        layer.msg(result.message,{icon: 5});
                    }
                },
                complete: function () {},
            });
        });

        //添加新员工
        $('.table-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '添加员工',
                area : [ '99%', '99%' ],
                fix : false,
                content : '/topage?url=basedata/employee/employee-add.html'
            });
        });

        //生成用户
        $('.table-gens').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要生成这些用户吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/employee/genEmployees',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            layer.msg(result.data,{icon: 1});
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //批量删除
        $('.table-dels').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/employee/delEmployees',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-edit'){
                rowEdit(data);
            }
        });

        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/employee/delEmployee',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }


        function rowEdit(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '修改员工信息',
                area : [ '99%', '99%' ],
                fix : false,
                content : '/topage/employeeEntity?url=basedata/employee/employee-edit.html&id='+obj.id,
                success:function(layero,index){
                }
            });
        }

    });





</script>
<style>

</style>
</html>