<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;" id="form01">

	<label class="label-size label-color">姓名*</label>
	<input type="text" name="name" required  lay-verify="required" autocomplete="off" class="input-size">

	<label class="label-size">曾用名</label>
	<input type="text" name="usedName" autocomplete="off" class="input-size">

	<br>

	<label class="label-size label-color">性别</label>
	<input type="radio" name="sex" value="0" title="男" checked>
	<input type="radio" name="sex" value="1" title="女">

	<label class="label-size">身份证号</label>
	<input type="text" name="idCardNum" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">社会保障号</label>
	<input type="text" name="socCardNum" autocomplete="off" class="input-size">

	<label class="label-size">出生日期</label>
	<input type="date" name="birthday" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">家庭地址</label>
	<input type="text" name="address" autocomplete="off" class="input-size" style="width: 450px">

	<br>

	<label class="label-size">邮政编码</label>
	<input type="text" name="zipcode" autocomplete="off" class="input-size">

	<label class="label-size">办公电话</label>
	<input type="text" name="officeTele" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">家庭电话</label>
	<input type="text" name="homeTele" autocomplete="off" class="input-size">

	<label class="label-size label-color">手机号码</label>
	<input type="text" name="mobile" required  lay-verify="required" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">电子邮箱</label>
	<input type="text" name="email" autocomplete="off" class="input-size">

	<label class="label-size">参加工作日期</label>
	<input type="date" name="careerBeginDate" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">入职日期</label>
	<input type="date" name="joinCompanyDate" autocomplete="off" class="input-size">

	<label class="label-size">学历</label>
	<input type="text" name="education" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">专业</label>
	<input type="text" name="major" autocomplete="off" class="input-size">

	<label class="label-size">职务</label>
	<input type="text" name="job" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">银行卡号</label>
	<input type="text" name="bankNumber" autocomplete="off" class="input-size">

	<label class="label-size">合同截止日期</label>
	<input type="date" name="contractEndDate" autocomplete="off" class="input-size">

	<br>

	<label class="label-size">备注</label>
	<input type="text" name="remark" autocomplete="off" class="input-size" style="width: 450px">

	<br>

	<label class="label-size label-color">部门</label>
	<input type="text" name="departId" class="input-size" hidden="true">
	<input type="text" name="departName" required  lay-verify="required" autocomplete="off" class="input-size" readonly="readonly">
	<button type="button" class="layui-btn layui-btn-xs load-depart">...</button>


	<hr class="layui-bg-green">
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" lay-submit lay-filter="formSubmit">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
		</div>
	</div>
</form>

</body>

<script>
	layui.use(['form','layer','jquery'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var $ = layui.jquery;

		//监听提交
		form.on('submit(formSubmit)', function(data){
			$.ajax({
				url:'/employee/addEmployee',
				type:'post',
				data:data.field,
				async: false,
				beforeSend:function () {},
				success:function(result){
					if(result.state == 1){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						window.parent.queryTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
				complete: function () {},
			});
		});

		//加载部门
		$('.load-depart').on('click', function () {
			layer.open({
				type : 2,
				maxmin : true,
				title : '选择部门',
				area : ['99%','99%'],
				fix : false,
				content : '/topage?url=basedata/employee/depart-select.html',
				success:function(layero,index){
				}
			});
		});

	});

</script>
<style>

</style>
</html>