<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>自定义档案明细</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline padding02">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button type="button" class="layui-btn layui-btn-sm table-ok"><i class="layui-icon layui-icon-ok"></i>激活</button>
            <button type="button" class="layui-btn layui-btn-sm table-close"><i class="layui-icon layui-icon-close"></i>冻结</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>


<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script th:inline="javascript">

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;

        table.render({
            elem: '#tableList'
            ,url: '/definedFileDetail/definedFileDetailTableData' //数据接口
            ,title: '自定义档案明细表'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-80'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'code', title: '编码', width: 120}
                    , {field: 'name', title: '名称', width: 120}
                    , {field: 'seq', title: '顺序', width: 120}
                    , {field: 'value', title: '档案值', width: 120}
                    , {field: 'remark', title: '备注', width: 120}
                    , {field: 'isActive', title: '是否激活', width: 120}
                    , {field: '', title: '功能操作', width: 240, toolbar: '#bar'}
                ]
            ]
            ,where:{
                selectid : [[${id}]]
            }
            ,done: function(res, curr, count){
                $("[data-field='isActive']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text('是');
                    } else if ($(this).text() == '1') {
                        $(this).text('否');
                    }
                });
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            table.reload('tableList',{
                url:'/definedFileDetail/definedFileDetailTableData',
                page: {curr:1},
                where:{
                    selectid : [[${id}]]
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/definedFileDetail/definedFileDetailTableData',
                where:{
                    selectid : [[${id}]]
                }
            });
        };

        //添加新明细
        $('.table-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '新增明细',
                area : [ '99%', '99%' ],
                fix : false,
                content : '/topage?url=customconfig/definedFile/definedFileDetail-add.html',
                success: function(layero, index){
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    body.find("input[name='definedid']").val([[${id}]]);
                }
            });
        });

        //激活
        $('.table-ok').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要激活吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/definedFileDetail/activeDefinedFileDetail',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            queryTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //取消激活
        $('.table-close').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要取消激活吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/definedFileDetail/noActiveDefinedFileDetail',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            queryTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-edit'){
                rowEdit(data);
            }
        });

        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/definedFileDetail/delDefinedFileDetail',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }


        function rowEdit(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '修改明细',
                area : [ '99%', '99%' ],
                fix : false,
                content : '/topage?url=customconfig/definedFile/definedFileDetail-edit.html',
                success:function(layero,index){
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    body.find("input[name='id']").val(obj.id);
                    body.find("input[name='code']").val(obj.code);
                    body.find("input[name='name']").val(obj.name);
                    body.find("input[name='seq']").val(obj.seq);
                    body.find("textarea[name='value']").text(obj.value);
                    body.find("textarea[name='remark']").text(obj.remark);
                }
            });
        }

    });





</script>
<style>

</style>
</html>