<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>发送用户明细</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline">
            <input type="text" name="code" placeholder="工号" autocomplete="off" class="layui-input" id="code">
        </div>
        <div class="search-input-inline">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-search"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger table-dels"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script th:inline="javascript">

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;
        var id = [[${id}]];


        table.render({
            elem: '#tableList'
            ,url: '/message/messageUserTableData' //数据接口
            ,title: '消息发送人员列表'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-45'
            ,cols: [
                [ //表头
                    {title: '序号', templet: '#xuhao', width: 60}
                    ,{checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'code', title: '接收人工号', width: 120}
                    , {field: 'name', title: '接收人姓名', width: 120}
                    ,{field: 'isSend', title: '是否发送', width:120,templet: function (d) {
                        if (d.isSend == 0) {
                            return '<span style="color:red;">未发送</span>'
                        }
                        if (d.isSend == 1) {
                            return '<span style="color:green;">已发送</span>'
                        }
                    }}
                    ,{field: 'isRead', title: '是否已读', width:120,templet: function (d) {
                        if (d.isRead == 0) {
                            return '<span style="color:red;">未读</span>'
                        }
                        if (d.isRead == 1) {
                            return '<span style="color:green;">已读</span>'
                        }
                    }}
                ]
            ]
            ,where:{
                id : id,
                code : $("#code").val()
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            $("#code").val("");
            table.reload('tableList',{
                url:'/message/messageUserTableData',
                page: {curr:1},
                where:{
                    id : id,
                    code : $("#code").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/message/messageUserTableData',
                where:{
                    id : id,
                    code : $("#code").val()
                }
            });
        };


        //批量删除
        $('.table-dels').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            var arr = new Array();
            for(var i in data){
                arr.push(data[i].id);
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/message/delMessageInfos',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(arr)
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });



    });





</script>
<style>

</style>
</html>