<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>修改内容</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">
	<input class="layui-input" name="id" type="hidden">

	<label class="label-size label-color">消息标题*</label>
	<input type="text" name="title" required  lay-verify="required" autocomplete="off" class="input-size-big">

	<br>

	<label class="label-size label-color">消息内容*</label>
	<textarea name="content" required  lay-verify="required" class="input-textarea-size"></textarea>

	<hr class="layui-bg-green">

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formSubmitEdit">确定</button>
		</div>
	</div>
</form>

</body>

<script>
	layui.use(['form','layer','jquery'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var $ = layui.jquery;

		//监听提交
		form.on('submit(formSubmitEdit)', function(data){
			$.ajax({
				url:'/message/editMessage',
				type:'post',
				data:data.field,
				async: false,
				beforeSend:function () {},
				success:function(result){
					if(result.state == 1){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						window.parent.queryTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
				complete: function () {},
			});
		});
	});

</script>
<style>

</style>
</html>