<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>角色管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="text" name="code" placeholder="角色编码" autocomplete="off" class="search-size" id="code">
            <input type="text" name="name" placeholder="角色名称" autocomplete="off" class="search-size" id="name">
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
                <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>增加</button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-danger table-dels"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
                <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
            </div>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>

<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="row-relMenu"><i class="layui-icon layui-icon-share"></i>菜单关联</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="row-relUser"><i class="layui-icon layui-icon-share"></i>用户关联</button>
</script>

</body>
<script>

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;

        table.render({
            elem: '#tableList'
            ,url: '/role/roleTableData' //数据接口
            ,title: '角色表'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-80'
            ,cols: [
                [ //表头
                    {checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'code', title: '角色编码', width: 120}
                    , {field: 'name', title: '角色名称', width: 120}
                    , {field: 'description', title: '角色用途说明', width: 120}
                    , {field: '', title: '功能操作', width: 360, toolbar: '#bar'}
                ]
            ]
            ,where:{
                code : $("#code").val(),
                name : $("#name").val()
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            $("#code").val("");
            $("#name").val("");
            table.reload('tableList',{
                url:'/role/roleTableData',
                page: {curr:1},
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/role/roleTableData',
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //添加新角色
        $('.table-add').on('click', function () {
            layer.open({
                type : 1,
                maxmin : true,
                title : '添加角色',
                area : [ '50%', '50%' ],
                fix : false,
                content :
                    '<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">'+
                    '<label class="label-size label-color">角色名*</label>' +
                    '<input type="text" name="name" required  lay-verify="required" autocomplete="off" class="input-size">' +
                    '<br>'+
                    '<label class="label-size">用途说明</label>' +
                    '<input type="text" name="description" required  lay-verify="required" autocomplete="off" class="input-size">' +
                    '<hr class="layui-bg-green">'+
                    '<div class="layui-form-item" style="text-align: center">' +
                    '<div class="layui-inline">'+
                    '<button class="layui-btn layui-btn-sm" lay-submit lay-filter="formSubmit">立即提交</button>'+
                    '</div>'+
                    '</div>'+
                    '</form>',
                success: function(layero, index){
                    //添加角色提交
                    form.on('submit(formSubmit)', function(data){
                        $.ajax({
                            url:'/role/addRole',
                            type:'post',
                            data:data.field,
                            async: false,
                            success:function(result){
                                if(result.state == 1){
                                    layer.close(index);
                                    queryTab();
                                }else{
                                    layer.msg(result.message,{icon: 5});
                                }
                            }
                        });
                    });
                }
            });

        });



        //批量删除
        $('.table-dels').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/role/delRoles',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    }
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-edit'){
                rowEdit(data);
            }else if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-relMenu'){
                roleRelMenu(data);
            }else if(obj.event==='row-relUser'){
                roleRelUser(data);
            }

        });

        //行中按钮-编辑
        function rowEdit(obj) {
            layer.open({
                type : 1,
                maxmin : true,
                title : '修改角色',
                area : [ '50%', '50%' ],
                fix : false,
                content :
                    '<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">'+
                    '<input name="id" type="hidden" >'+
                    '<label class="label-size label-color">角色名*</label>' +
                    '<input type="text" name="name" required  lay-verify="required" autocomplete="off" class="input-size">' +
                    '<br>'+
                    '<label class="label-size">用途说明</label>' +
                    '<input type="text" name="description" required  lay-verify="required" autocomplete="off" class="input-size">' +
                    '<hr class="layui-bg-green">'+
                    '<div class="layui-form-item" style="text-align: center">' +
                    '<div class="layui-inline">'+
                    '<button class="layui-btn" lay-submit lay-filter="formSubmitEdit">立即提交</button>'+
                    '</div>'+
                    '</div>'+
                    '</form>',
                success: function(layero, index){
                    layero.find("input[name='id']").val(obj.id);
                    layero.find("input[name='name']").val(obj.name);
                    layero.find("input[name='description']").val(obj.description);
                    //添加角色提交
                    form.on('submit(formSubmitEdit)', function(data){
                        $.ajax({
                            url:'/role/editRole',
                            type:'post',
                            data:data.field,
                            async: false,
                            success:function(result){
                                if(result.state == 1){
                                    layer.close(index);
                                    refreshTab();
                                }else{
                                    layer.msg(result.message,{icon: 5});
                                }
                            }
                        });
                    });
                }
            });
        }
        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/role/delRole',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }

        //行中角色关联菜单
        function roleRelMenu(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                title : '角色关联菜单',
                area : ['99%','99%'],
                fix : false,
                content : '/topageid?url=system/role/role-rel-menu.html&id='+obj.id,
                success:function(layero,index){
                    // var iframeWin = window[layero.find('iframe')[0]['name']];
                    // iframeWin.ajaxLoadTree(data.id);
                }
            });
        }

        function roleRelUser(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                title : '角色关联用户',
                area : ['99%','99%'],
                fix : false,
                content : '/topageid?url=system/role/role-rel-user.html&id='+obj.id,
                success:function(layero,index){
                    // var iframeWin = window[layero.find('iframe')[0]['name']];
                    // iframeWin.ajaxLoadTransfer(data.id);
                }
            });
        }


    });





</script>
<style>

</style>
</html>