<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>角色关联菜单</title>
	<script th:src="@{/layui/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>
<div id="menu-tree"></div>
<div class="layui-input-block"></div>
<div class="layui-input-block">
	<button class="layui-btn layui-btn-sm tree-confirm" >确定</button>
	<button class="layui-btn layui-btn-sm layui-btn-primary tree-cancel">取消</button>
</div>

</body>

<script th:inline="javascript">
	layui.use(['form','layer','tree'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var tree = layui.tree;
		var $ = layui.jquery;

		layer.ready(function () {
			ajaxLoadTree();
		});

		function ajaxLoadTree() {
			$.ajax({
				url:'/role/ajaxLoadMenuTreeByRole',
				type:'post',
				data:{
					roleid:[[${id}]]
				},
				success:function(result){
					if(result.state == 1){
						laodTree(result.data);
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		}

		function laodTree(data){
			tree.render({
				elem: '#menu-tree'
				,id: 'mtId' //定义索引
				,onlyIconControl:true
				,accordion:false
				,showCheckbox:true
				,data:data
			});
		}

		//确定
		$('.tree-confirm').on('click', function () {
			var checkData = tree.getChecked('mtId');
			$.ajax({
				url:'/role/saveMenuSelectByRole',
				type:'post',
				data:{
					id:[[${id}]],
					treeData:JSON.stringify(checkData)
				},
				success:function(result){
					if(result.state == 1){
						layer.msg(result.data,{icon: 1});
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		});


		//取消
		$('.tree-cancel').on('click', function () {
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		});

	});

</script>
<style>

</style>
</html>