<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>部门管理</title>
    <script th:src="@{/static/layui/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/assets/js/templet.js}"></script>
</head>
<body>

    <div class="layui-row layui-col-space20" style="margin:3px 3px;width:98%">
        <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
            <div id="depart-tree"></div>
        </div>
        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10">
            <form class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: auto;">
                            <button type="button" class="layui-btn depart-refresh"><i class="layui-icon layui-icon-search"></i>刷新树</button>
                        </div>
                        <div class="layui-input-inline" style="width: auto;">
                            <button type="button" class="layui-btn depart-add"><i class="layui-icon layui-icon-add-1"></i>添加子部门</button>
                        </div>
                    </div>
                </div>
            </form>
            <table class="layui-table" id="tableList" lay-filter="tableList"></table>
        </div>
    </div>

    <script type="text/html" id="bar">
        <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>修改</button>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
        <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-change"><i class="layui-icon layui-icon-share"></i>更换上级部门</button>
    </script>

</body>
<script>

    layui.use(['jquery','table','form','util','tree'], function(){
        var table = layui.table;
        var $ = layui.$;
        var layer = layui.layer;
        var tree = layui.tree;
        var id = "";

        table.render({
            elem: '#tableList'
            ,url: '/depart/tableData' //数据接口
            ,title: '子部门明细表'
            ,page: {curr:1} //开启分页
            ,limit:10
            ,cols: [
                [ //表头
                    {field: 'id', title: 'ID', width:80 ,hide:true}
                    ,{field: 'code', title: '部门编码', width:100}
                    ,{field: 'name', title: '部门名称', width:200}
                    ,{field: 'pdepart', title: '父部门', width:250,templet:'<div>{{d.pdepart==null?"":d.pdepart.name}}</div>'}
                    ,{field: 'uda1', title: '部门负责人', width:200}
                    ,{field: '',title: '功能操作',width:300,toolbar:'#bar'}
                ]
            ]
            ,where:{
                id : id
            }
        });


        //重新加载树和表格
        $('.depart-refresh').on('click', function () {
            ajaxLoadTree();
            refreshTab();
        });

        //刷新表格
        window.refreshTab  = function(){
            table.reload('tableList',{
                url:'/depart/tableData',
                page: {curr:1},
                limit:10,
                where:{
                    id : id
                }
            });
        };


        layer.ready(function(){
            ajaxLoadTree();
        });



        function ajaxLoadTree() {
            $.ajax({
                url:'/depart/ajaxLoadTree',
                type:'post',
                data:{},
                success:function(result){
                    if(result.state == 1){
                        laodTree(result.data);
                    }else{
                        layer.msg(result.message,{icon: 5});
                    }
                }
            });
        }

        function laodTree(data){
            tree.render({
                elem: '#depart-tree'
                ,id: 'mtId' //定义索引
                ,onlyIconControl:true
                ,accordion:false
                ,data:data
                ,click: function(obj){
                    id = obj.data.id;
                    refreshTab();
                }
            });
        }

        //添加新部门
        $('.depart-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                title : '添加菜单',
                area : [ '500px', '400px' ],
                fix : false,
                content : '/topage?url=user/depart/depart-add.html',
                success:function(layero,index){
                    var body = layer.getChildFrame('body', index);
                    body.find("input[name='id']").val(id);
                }
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-edit'){
                rowEdit(data);
            }else if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-change'){
                rowChange(data);
            }
        });

        //行中按钮-编辑
        function rowEdit(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                title : '修改部门信息',
                area : [ '500px', '400px' ],
                fix : false,
                content : '/topage?url=user/depart/depart-edit.html',
                success:function(layero,index){
                    var body = layer.getChildFrame('body', index);
                    body.find("input[name='id']").val(obj.id);
                    body.find("input[name='code']").val(obj.code);
                    body.find("input[name='name']").val(obj.name);
                    body.find("input[name='uda1']").val(obj.uda1);
                }
            });
        }
        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/depart/delDepart',
                    type:'post',
                    data:{
                        obj:JSON.stringify(obj)
                    },
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                });
            }, function(index){
                layer.close(index);
            });
        }

        function rowChange(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                title : '选择上级部门',
                area : [ '100%', '80%' ],
                fix : false,
                content : '/topage?url=user/depart/depart-change.html',
                success:function(layero,index){
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    iframeWin.ajaxLoadTree1(obj.id);
                }
            });
        }

    });






</script>
<style>

</style>
</html>