<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>添加部门</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">
	<input name="id" type="hidden">
	<div class="layui-form-item">
		<label class="layui-form-label">部门编码</label>
		<div class="layui-input-block">
			<input type="text" name="code" required  lay-verify="required" placeholder="请输入部门编码" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">部门名称</label>
		<div class="layui-input-block">
			<input type="text" name="name" placeholder="请输入部门名称" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">部门负责人</label>
		<div class="layui-input-block">
			<input type="text" name="uda1" required  lay-verify="required" placeholder="请输入部门负责人" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="formSubmit1">立即提交</button>
		</div>
	</div>
</form>

</body>

<script>
	layui.use(['form','layer'], function(){
		var form = layui.form;
		var layer = layui.layer;

		//监听提交
		form.on('submit(formSubmit1)', function(data){
			$.ajax({
				url:'/depart/addDeaprt',
				type:'post',
				data:data.field,
				async: false,
				beforeSend:function () {},
				success:function(result){
					if(result.state == 1){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						window.parent.refreshTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
				complete: function () {}
			});
		});


	});

</script>
<style>

</style>
</html>