<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>信息查看</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane padding02" action="" method="post" onsubmit="return false;">
	<div class="layui-form-item">
		<label class="layui-form-label layui-bg-cyan">消息标题</label>
		<div class="layui-input-inline">
			<input type="text" name="title" lay-verify="required" autocomplete="off" class="layui-input" readonly="readonly">
		</div>
	</div>

	<div class="layui-form-item layui-form-text">
		<label class="layui-form-label layui-bg-cyan">消息内容</label>
		<div class="layui-input-block">
			<textarea name="content" class="layui-textarea" readonly="readonly"></textarea>
		</div>
	</div>

</form>

</body>

<script>

</script>
<style>
</style>
</html>