<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>信息查看</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<label class="label-size label-color">消息标题*</label>
<input type="text" name="title" required  lay-verify="required" autocomplete="off" class="input-size-big" readonly="readonly">

<br>

<label class="label-size label-color">消息内容*</label>
<textarea name="content" required  lay-verify="required" class="input-textarea-size" readonly="readonly"></textarea>

</body>

<script>

</script>
<style>
</style>
</html>