<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>读取信息</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>
<button type="button" class="layui-btn layui-btn-danger layui-btn-sm message-refresh" style="margin-top: 10px;margin-left: 20px"><i class="layui-icon layui-icon-note"></i>全部已读</button>

	<table class="layui-table" id="tableList" lay-filter="tableList"></table>

	<script type="text/html" id="bar">
		<button type="button" class="layui-btn layui-btn-xs" lay-event="row-read"><i class="layui-icon layui-icon-read"></i>查看明细</button>
	</script>

<script type="text/html" id="xuhao">
	{{d.LAY_TABLE_INDEX+1}}
</script>

</body>

<script>
	layui.use(['form','layer','table','jquery'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var table = layui.table;
		var $ = layui.jquery;

		table.render({
			elem: '#tableList'
			,url: '/message/tableDataMessageInfo' //数据接口
			,title: '消息表'
			,height:'500'
			,page: {curr:1} //开启分页
			,limit:20
			,size: 'sm'
			,cols: [
				[ //表头
					{title: '序号', templet: '#xuhao', width: 60}
					, {field: 'id', title: 'ID', width: 80, hide: true}
					, {field: 'message', title: '发送人', width: 120, templet: '<div>{{d.message.name}}</div>'}
					, {field: 'message', title: '消息标题', width: 120, templet: '<div>{{d.message.title}}</div>'}
					, {field: 'message', title: '消息内容', width: 150, templet: '<div>{{d.message.content}}</div>'}
					, {field: 'isRead', title: '是否已读', width:120,templet: function (d) {
						if (d.isRead == 0) {
							return '<span style="color:red;">未读</span>'
						}
						if (d.isRead == 1) {
							return '<span style="color:green;">已读</span>'
						}
					}}
					, {field: '',title: '功能操作',width:150,toolbar:'#bar'}
				]
			]
			,done: function(res, curr, count){
			}
		});

		function refreshTab(){
			table.reload('tableList',{
				url:'/message/tableDataMessageInfo',
				page: true,
				limit:20,
				height:'500'
			});
		};



		//行中按钮
		table.on('tool(tableList)',function (obj) {
			var data = obj.data;
			if(obj.event==='row-read'){
				rowRead(data);
			}
		});

		function rowRead(obj) {
			layer.open({
				type : 2,
				maxmin : true,
				title : '消息查看',
				area : ['500px','400px'],
				fix : false,
				content : '/topage?url=system/index/read-message-deatil.html',
				success:function(layero,index){
					var body = layer.getChildFrame('body', index);
					body.find("input[name='title']").val(obj.message.title);
					body.find("textarea[name='content']").val(obj.message.content);
					noteMessage(obj);
				}
			});

		}

		function noteMessage(obj) {
			$.ajax({
				url:'/message/messageRead',
				type:'post',
				data:{
					id:obj.id
				},
				success:function(result){
					if(result.state == 1){
						inspectMessage();
						refreshTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
			});
		}

		function inspectMessage(){
			$.ajax({
				url:'/message/inspectMessage',
				type:'post',
				data:{},
				success:function(result){
					if(result.state == 1){
						if(result.data==0){
							$("#message-notice-index",window.parent.document).empty('<span class="layui-badge-dot"></span>');
						}
					}else{
					}
				},
			});
		}

		$('.message-refresh').on('click', function () {
			$.ajax({
				url:'/message/messageReadAll',
				type:'post',
				data:{},
				success:function(result){
					if(result.state == 1){
						$("#message-notice-index",window.parent.document).empty('<span class="layui-badge-dot"></span>');
						refreshTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
			});
		});

	});

</script>
<style>
	.layui-input {
		width:150px
	}
</style>
</html>