<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>个人中心</title>
	<script th:src="@{/layui/jquery.min.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">
	<input class="layui-input" name="id" type="hidden" th:value="${user.id}">
	<div class="layui-form-item">
		<label class="layui-form-label">真实名</label>
		<div class="layui-input-block">
			<input type="text" th:value="${user.name}" name="name" required  lay-verify="required" placeholder="请输入真实名" autocomplete="off" class="layui-input"  th:readonly="true">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">电子邮箱</label>
		<div class="layui-input-block">
			<input type="text" th:value="${user.email}" name="email" placeholder="请输入电子邮箱" autocomplete="off" class="layui-input" >
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">电话</label>
		<div class="layui-input-block">
			<input type="text" th:value="${user.mobile}" name="mobile" placeholder="请输入电话" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" lay-submit lay-filter="formSubmit1">更新基本信息</button>
		</div>
	</div>
</form>

</body>

<script>
	layui.use(['form','layer'], function(){
		var form = layui.form;
		var layer = layui.layer;

		//监听提交
		form.on('submit(formSubmit1)', function(data){
			$.ajax({
				url:'/user/editBaseInfo',
				type:'post',
				data:data.field,
				async: false,
				beforeSend:function () {},
				success:function(result){
					if(result.state == 1){
						layer.msg(result.data,{icon: 1});
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
				complete: function () {},
			});
		});
	});

</script>
<style>
	.layui-input {
		width:200px
	}
</style>
</html>