<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>定时任务管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline">
            <input type="text" name="name" placeholder="名称" autocomplete="off" class="layui-input" id="name">
        </div>
        <div class="search-input-inline">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button type="button" class="layui-btn layui-btn-sm table-start"><i class="layui-icon layui-icon-play"></i>开始</button>
            <button type="button" class="layui-btn layui-btn-sm table-stop"><i class="layui-icon layui-icon-pause"></i>停止</button>
            <button type="button" class="layui-btn layui-btn-sm table-execute"><i class="layui-icon layui-icon-ok"></i>立即执行</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>


<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script>

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;

        table.render({
            elem: '#tableList'
            ,url: '/scheduleTask/scheduleTaskTableData' //数据接口
            ,title: '定时任务管理'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-45'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'name', title: '名称', width: 120}
                    , {field: 'serviceName', title: '调度对象', width: 120}
                    , {field: 'methodName', title: '调度方法', width: 120}
                    , {field: 'cron', title: '时间表达式', width: 120}
                    , {field: 'isopen', title: '运行状态', width: 120}
                    , {field: 'description', title: '说明', width: 120}
                    , {field: '', title: '功能操作', width: 240, toolbar: '#bar'}
                ]
            ]
            ,where:{
                name : $("#name").val()
            }
            ,done: function(res, curr, count){
                $("[data-field='isopen']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text('正常运行');
                    } else if ($(this).text() == '1') {
                        $(this).text('已暂停');
                    }
                });
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            $("#name").val("");
            table.reload('tableList',{
                url:'/scheduleTask/scheduleTaskTableData',
                page: {curr:1},
                where:{
                    name : $("#name").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/scheduleTask/scheduleTaskTableData',
                where:{
                    name : $("#name").val()
                }
            });
        };

        //添加新参数
        $('.table-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                skin : 'out-class',
                title : '新增定时任务',
                area : [ '50%', '80%' ],
                fix : false,
                content : '/topage?url=customconfig/scheduleTask/scheduleTask-add.html'
            });
        });

        //开始
        $('.table-start').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length!=1){
                return layer.msg("只能单条开始！",{icon: 5});
            }
            layer.confirm('确定要开始任务吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/scheduleTask/startScheduleTask',
                    type:'post',
                    data:{
                        id:data[0].id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            queryTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //停止
        $('.table-stop').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length!=1){
                return layer.msg("只能单条停止！",{icon: 5});
            }
            layer.confirm('确定要停止任务吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/scheduleTask/stopScheduleTask',
                    type:'post',
                    data:{
                        id:data[0].id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            queryTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });


        //立即执行
        $('.table-execute').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length!=1){
                return layer.msg("只能单条执行！",{icon: 5});
            }
            layer.confirm('确定要执行任务吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                var loading = layer.msg('正在执行...', {icon: 16, shade: 0.3, time:0});
                $.ajax({
                    url:'/scheduleTask/executeScheduleTask',
                    type:'post',
                    data:{
                        id:data[0].id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            layer.close(loading);
                        }else{
                            layer.close(index);
                            layer.close(loading);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-edit'){
                rowEdit(data);
            }
        });

        //行中按钮-删除
        function rowDelete(obj) {
            if(obj.isopen==0){
                return layer.msg("未运行的情况下才能删除！",{icon: 5});
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/scheduleTask/delScheduleTask',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }


        function rowEdit(obj) {
            if(obj.isopen==0){
                return layer.msg("未运行的情况下才能修改！",{icon: 5});
            }
            layer.open({
                type : 2,
                maxmin : true,
                skin : 'out-class',
                title : '修改定时任务',
                area : [ '50%', '80%' ],
                fix : false,
                content : '/topage/scheduleTaskEntity?url=customconfig/scheduleTask/scheduleTask-edit.html&id='+obj.id,
                success:function(layero,index){
                }
            });
        }

    });





</script>
<style>

</style>
</html>