<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>用户组关联用户</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>
<div id="transfer" class="padding02"></div>
<div class="layui-input-block"></div>
<div class="layui-input-block">
	<button class="layui-btn layui-btn-sm layui-btn-primary tree-cancel">关闭</button>
</div>

</body>

<script th:inline="javascript">
	layui.use(['form','layer','transfer'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var transfer = layui.transfer;
		var $ = layui.jquery;

		layer.ready(function () {
			ajaxLoadTransfer();
		});

		function ajaxLoadTransfer(){

			$.ajax({
				url:'/group/ajaxLoadTransferGroupRelUser',
				type:'post',
				data:{
					groupid:[[${id}]]
				},
				success:function(result){
					if(result.state == 1){
						laodTransfer(result.data.data,result.data.value,[[${id}]]);
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		}

		function laodTransfer(data,value,groupid){
			transfer.render({
				elem: '#transfer'  //绑定元素
				,title: ['未选中','选中']
				,showSearch:true
				,height:600
				,data:  data
				,value: value
				,id: 'mtId' //定义索引
				,onchange: function(data, index){
					if(index==0){
						addSelect(data,groupid);
					}else{
						delSelect(data,groupid);
					}
				}
			});
		}

		function addSelect(data,groupid){
			$.ajax({
				url:'/group/addSelectUser',
				type:'post',
				data:{
					groupid:groupid,
					data:JSON.stringify(data)
				},
				success:function(result){
					if(result.state == 1){
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		}

		function delSelect(data,groupid){
			$.ajax({
				url:'/group/delSelectUser',
				type:'post',
				data:{
					groupid:groupid,
					data:JSON.stringify(data)
				},
				success:function(result){
					if(result.state == 1){
					}else{
						layer.msg(result.message,{icon: 5});
					}
				}
			});
		}

		//关闭
		$('.tree-cancel').on('click', function () {
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
			parent.refreshTabDeatil();
		});

	});

</script>
<style>

</style>
</html>