<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>用户组管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline">
            <input type="text" name="code" placeholder="用户组编码" autocomplete="off" class="layui-input" id="code">
        </div>
        <div class="search-input-inline">
            <input type="text" name="name" placeholder="用户组名称" autocomplete="off" class="layui-input" id="name">
        </div>
        <div class="search-input-inline">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-sm layui-btn-danger table-dels"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<div class="layui-row grid-demo grid-demo-bg1">
    <div class="layui-col-md12">
        <table class="layui-table" id="tableList" lay-filter="tableList"></table>
    </div>
    <div class="layui-col-md12">
        <table class="layui-table" id="tableListDetail" lay-filter="tableList"></table>
    </div>
</div>



<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>编辑</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="row-relUser"><i class="layui-icon layui-icon-share"></i>关联用户</button>
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script>

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.jquery;
        var layer = layui.layer;
        var selectid = "";

        table.render({
            elem: '#tableList'
            ,url: '/group/groupTableData' //数据接口
            ,title: '用户组表'
            ,page: {curr:1} //开启分页
            ,height:'full-400'
            ,limit:20
            ,size: 'sm'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {type: 'radio'}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'code', title: '用户组编码', width: 120}
                    , {field: 'name', title: '用户组名称', width: 120}
                    , {field: 'description', title: '用户组说明', width: 120}
                    , {field: '', title: '功能操作', width: 240, toolbar: '#bar'}
                ]
            ]
            ,where:{
                code : $("#code").val(),
                name : $("#name").val()
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
            selectid = "";
            refreshTabDetail();
        });

        //刷新
        window.refreshTab  = function(){
            $("#code").val("");
            $("#name").val("");
            table.reload('tableList',{
                url:'/group/groupTableData',
                page: {curr:1},
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
            selectid = "";
            refreshTabDetail();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/group/groupTableData',
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };


        //单机主表格一行事件
        table.on('row(tableList)', function(obj){
            selectid = obj.data.id;
            //选中行样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
            //选中radio样式
            obj.tr.find('i[class="layui-anim layui-icon"]').trigger("click");
            refreshTabDetail();
        });

        table.render({
            elem: '#tableListDetail'
            ,url: '/group/groupDetailTableData' //数据接口
            ,title: '用户组明细表'
            ,page: {curr:1} //开启分页
            ,limit:10
            ,height:300
            ,size: 'sm'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'name', title: '真实名', width: 120}
                    , {field: 'loginName', title: '登录名', width: 120}
                    , {field: 'email', title: '电子邮箱', width: 120}
                    , {field: 'mobile', title: '电话', width: 120}
                ]
            ]
            ,where:{
                selectid : selectid
            }
        });

        //刷新从表格
        window.refreshTabDetail = function(){
            table.reload('tableListDetail',{
                url:'/group/groupDetailTableData',
                page: {curr:1},
                limit:10,
                where:{
                    selectid : selectid
                }
            });
        };






        //添加新用户组
        $('.table-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '新增用户组',
                area : [ '50%', '50%' ],
                fix : false,
                content : '/topage?url=system/group/group-add.html'
            });
        });



        //批量删除
        $('.table-dels').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length==0){
                return layer.msg("至少选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/group/delGroups',
                    type:'post',
                    data:{
                        arrs:JSON.stringify(data)
                    },
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    }
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-edit'){
                rowEdit(data);
            }else if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-relUser'){
                groupRelUser(data);
            }
        });

        //行中按钮-编辑
        function rowEdit(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '修改用户组',
                area : [ '50%', '50%' ],
                fix : false,
                content : '/topage?url=system/group/group-edit.html',
                success: function(layero, index){
                    var body = layer.getChildFrame('body', index);
                    var iframeWin = window[layero.find('iframe')[0]['name']];
                    body.find("input[name='id']").val(obj.id);
                    body.find("input[name='name']").val(obj.name);
                    body.find("textarea[name='description']").val(obj.description);
                }
            });
        }

        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/group/delGroup',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }

        //行中用户组关联用户
        function groupRelUser(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '用户组关联用户',
                area : ['50%','99%'],
                fix : false,
                content : '/topageid?url=system/group/group-rel-user.html&id='+obj.id,
                success:function(layero,index){
                    // var iframeWin = window[layero.find('iframe')[0]['name']];
                    // iframeWin.ajaxLoadTransfer(data.id);
                }
            });
        }


    });





</script>
<style>

</style>
</html>