<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>单据号管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form toolbar">
    <div class="layui-form-item">
        <div class="search-input-inline">
            <input type="text" name="code" placeholder="编码" autocomplete="off" class="layui-input" id="code">
        </div>
        <div class="search-input-inline">
            <input type="text" name="name" placeholder="名称" autocomplete="off" class="layui-input" id="name">
        </div>
        <div class="search-input-inline">
            <button type="button" class="layui-btn layui-btn-sm table-refresh"><i class="layui-icon layui-icon-refresh"></i>刷新</button>
            <button type="button" class="layui-btn layui-btn-sm table-add"><i class="layui-icon layui-icon-add-1"></i>新增</button>
            <button type="button" class="layui-btn layui-btn-sm table-query"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button type="button" class="layui-btn layui-btn-sm table-next"><i class="layui-icon layui-icon-right"></i>下一个</button>
        </div>
    </div>
</form>

<!-- 数据表格 -->
<table class="layui-table" id="tableList" lay-filter="tableList"></table>


<script type="text/html" id="bar">
    <button type="button" class="layui-btn layui-btn-xs" lay-event="row-edit"><i class="layui-icon layui-icon-edit"></i>修改</button>
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="row-delete"><i class="layui-icon layui-icon-delete"></i>删除</button>
</script>

<script type="text/html" id="xuhao">
    {{d.LAY_TABLE_INDEX+1}}
</script>

</body>
<script>

    layui.use(['jquery','table','form','laytpl','util'], function(){
        var form = layui.form;
        var table = layui.table;
        var laytpl = layui.laytpl;
        var $ = layui.$;
        var layer = layui.layer;

        table.render({
            elem: '#tableList'
            ,url: '/docuNum/docuNumTableData' //数据接口
            ,title: '单据号管理'
            ,page: {curr:1} //开启分页
            ,limit:20
            ,size: 'sm'
            ,height: 'full-45'
            ,cols: [
                [
                    {title: '序号', templet: '#xuhao', width: 60}
                    , {checkbox: true}
                    , {field: 'id', title: 'ID', width: 80, hide: true}
                    , {field: 'name', title: '名称', width: 120}
                    , {field: 'code', title: '编码', width: 120}
                    , {field: 'min', title: '最小值', width: 120}
                    , {field: 'max', title: '最大值', width: 120}
                    , {field: 'step', title: '步长', width: 120}
                    , {field: 'cur', title: '当前值', width: 120}
                    , {field: 'description', title: '说明', width: 120}
                    , {field: '', title: '功能操作', width: 150, toolbar: '#bar'}
                ]
            ]
            ,where:{
                code : $("#code").val(),
                name : $("#name").val()
            }
            ,done: function(res, curr, count){
                $("[data-field='isUsed']").children().each(function () {
                    if ($(this).text() == '0') {
                        $(this).text('是');
                    } else if ($(this).text() == '1') {
                        $(this).text('否');
                    }
                });
            }
        });


        //刷新
        $('.table-refresh').on('click', function () {
            refreshTab();
        });

        //刷新
        window.refreshTab  = function(){
            $("#code").val("");
            $("#name").val("");
            table.reload('tableList',{
                url:'/docuNum/docuNumTableData',
                page: {curr:1},
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //查询
        $('.table-query').on('click', function () {
            queryTab();
        });

        //查询
        window.queryTab  = function(){
            table.reload('tableList',{
                url:'/docuNum/docuNumTableData',
                where:{
                    code : $("#code").val(),
                    name : $("#name").val()
                }
            });
        };

        //添加新参数
        $('.table-add').on('click', function () {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '新增单据号',
                area : [ '50%', '50%' ],
                fix : false,
                content : '/topage?url=customconfig/docuNum/docuNum-add.html'
            });
        });

        //下一个值
        $('.table-next').on('click', function () {
            var checkStatus = table.checkStatus('tableList')
                ,data = checkStatus.data;
            if(data.length!=1){
                return layer.msg("只能选中一条数据！",{icon: 5});
            }
            layer.confirm('确定要获取获取下一个值吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/docuNum/nextDocuNum',
                    type:'post',
                    data:{
                        id:data[0].id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            queryTab();
                            layer.confirm("当前值："+result.data, {
                                btn: ['确定', '关闭']
                            }, function(index1, layero){
                                layer.close(index1);
                            }, function(index1){
                                layer.close(index1);
                            });
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        });

        //行中按钮
        table.on('tool(tableList)',function (obj) {
            var data = obj.data;
            if(obj.event==='row-delete'){
                rowDelete(data);
            }else if(obj.event==='row-edit'){
                rowEdit(data);
            }
        });

        //行中按钮-删除
        function rowDelete(obj) {
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消']
            },function(index, layero){
                $.ajax({
                    url:'/docuNum/delDocuNum',
                    type:'post',
                    data:{
                        id:obj.id
                    },
                    beforeSend:function () {},
                    success:function(result){
                        if(result.state == 1){
                            layer.close(index);
                            refreshTab();
                        }else{
                            layer.close(index);
                            layer.msg(result.message,{icon: 5});
                        }
                    },
                    complete: function () {},
                });
            }, function(index){
                layer.close(index);
            });
        }


        function rowEdit(obj) {
            layer.open({
                type : 2,
                maxmin : true,
                skin: 'out-class',
                title : '修改单据号',
                area : [ '50%', '50%' ],
                fix : false,
                content : '/topage/docuNumEntity?url=customconfig/docuNum/docuNum-edit.html&id='+obj.id,
                success:function(layero,index){
                }
            });
        }

    });





</script>
<style>

</style>
</html>