<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>新增单据号</title>
	<link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/assets/js/templet.js}"></script>
</head>
<body>

<form class="layui-form layui-form-pane" action="" method="post" onsubmit="return false;">

	<input name="id" type="hidden" th:value="${docuNum.id}">

	<label class="label-size label-color">编码*</label>
	<input type="text" name="code" required  lay-verify="required" autocomplete="off" class="input-size" th:value="${docuNum.code}">

	<label class="label-size label-color">名称*</label>
	<input type="text" name="name" required  lay-verify="required" autocomplete="off" class="input-size" th:value="${docuNum.name}">

	<br>

	<label class="label-size label-color">步长*</label>
	<input type="number" name="step" required  lay-verify="required" autocomplete="off" class="input-size" th:value="${docuNum.step}">

	<br>

	<label class="label-size">参数说明</label>
	<input type="text" name="description" autocomplete="off" class="input-size" style="width: 400px" th:text="${docuNum.description}">

	<br>

	<hr class="layui-bg-green">

	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn layui-btn-sm" lay-submit lay-filter="formSubmit">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
		</div>
	</div>
</form>

</body>

<script>
	layui.use(['form','layer','jquery'], function(){
		var form = layui.form;
		var layer = layui.layer;
		var $ = layui.jquery;

		//监听提交
		form.on('submit(formSubmit)', function(data){
			$.ajax({
				url:'/docuNum/editDocuNum',
				type:'post',
				data:data.field,
				async: false,
				beforeSend:function () {},
				success:function(result){
					if(result.state == 1){
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						window.parent.queryTab();
					}else{
						layer.msg(result.message,{icon: 5});
					}
				},
				complete: function () {},
			});
		});
	});

</script>
<style>

</style>
</html>